@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <header class="d-flex flex-wrap justify-content-center py-3 mb-2 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Welcome</span>
          </a>

          <ul class="nav nav-pills">
              <li class="nav-item">
              <NavLink class="nav-link active mx-2" href="account/register" aria-current="page">
                    Registration
              </NavLink>
              </li>
              <li class="nav-item mx-2"><a href="account/login" class="nav-link">Login</a></li>
          </ul>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>