@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                      <i class="bi bi-controller"></i>
                  </a>
                  
                  <div class="col-md-3 text-end">
                      <button type="button" class="btn btn-outline-primary me-2">Login</button>
                      <button type="button" class="btn btn-primary">Sign-up</button>
                  </div>
                </header>
            <!--<a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>-->
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>